/*  
 
 
 html, body {
    height: 100%;
    margin: 0;
  }

  .table-container {
    height: 100vh;
    overflow: auto;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  td {
 
    padding: 2px;
    text-align: left;
    width: 12px;
    font-size: small;
      background-color: #fbfbfb;
  }

  th {
   
    padding: 2px;
    text-align: left;
    width: 12px;
    font-size: small;
  
    background-color: #e5ebf1;
  } */



  html, body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.table-container {
  height: 100vh;
  overflow: auto;
  margin : 4px;
}

table {
  
  width: 100%;
  border-collapse: separate;     /* allow border-radius */
  border-spacing: 0;             /* no gap between cells */
  border: 1px solid #ccc;
  border-radius: 8px;   /* optional: rounded overall table */

}

           
th, td {
  /* border: 1px solid #ccc; */
  padding: 8px;
  text-align: left;
  font-size: small;
}

td {
  background-color: #fbfbfb;
}

th {
  background-color: #e5ebf1;
}


th:first-child {
  border-top-left-radius: 8px;
}

th:last-child {
  border-top-right-radius: 8px;
}

.createbutton{
    margin: 6px;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    
}

button{
  border: 0px;
  background-color: #7258df;
  border-radius: 4px;
  padding: 2px 7px 3px 3px;
  color: white;
  cursor: grab;
  
}