
.addmisson-group {
  /* margin-bottom: 10px; */
}

.addmisson-group label {
  display: block;
  margin-bottom: 1px;
  color: #333;
  font-size: small;
}

.required {
  color: red;
  margin-left: 4px;
}



.dropdown-admission{
  width: 100%;
  height: 25px;
  padding: 0px 5px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: white;
}

.datepicker-wrapper-admission .react-datepicker-wrapper {
  width: 100%;
}

.datepicker-wrapper-admission .react-datepicker__input-container input {
  width: 100%;
  height: 25px;
  padding: 0px 5px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: white;
}


/* Dropdown arrow styling */
.dropdown {
  appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20fill='black'%20height='24'%20viewBox='0%200%2024%2024'%20width='24'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20d='M7%2010l5%205%205-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 16px 16px;
  cursor: pointer;
}


.admission-enquiry-wrapper {
  padding: 8px;
  background: #f9f9f9;
}
/* 
.admissioncriteria{
  border: 1px solid rebeccapurple;
} */
.filter-section {
  background: #fff;
  border-radius: 6px;
  padding: 7px;
  box-shadow: 0 0 4px #ccc;
  margin-bottom: 20px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: flex-end;
}

.addmisson-group {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* min-width: 180px; */
}

.addmisson-group label {
  margin-bottom: 1px;
}

.addmisson-group span {
  color: red;
}

.date-picker {
  padding: 6px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.search-btn {
  display: flex
;
    align-items: center;
    background-color: #626262;
    color: white;
    border: none;
    cursor: pointer;
    /* width: 63%; */
    height: 25px;
    padding: 4px 12px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-left: auto;
    /* margin: 12px; */
    margin-top: 8px;
}


.table-section {
  background: #fff;
  border-radius: 6px;
  padding: 7px;
  box-shadow: 0 0 4px #ccc;
  overflow-x: auto;
  max-width: 100%;
  /* min-height: 480px; */
   min-height: calc(100vh - 250px)
}

.table-header {
  display: flex;
  justify-content: space-between; 
  align-items: center;           
 
}

.table-header .right-actions {
  display: flex;
  align-items: center;
  gap: 12px; /* space between input and button */
}

.search-input {
  width: 168%;
  height: 25px;
  padding: 0px 5px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: white;
}

.add-btn {
  width: 93%;
  height: 25px;
  padding: 0px 5px;
  font-size: 14px;
  border-radius: 9px;
  border: 1px solid #ccc;
  box-sizing: border-box;
    background-color: #757575;
    color: white;
  /* background-color: white; */
}


.createadmission{
  height: 26px;
  margin-right: 7px;
  width: 71px;
  background-color: #757575;
  color: white;
  font-size : smaller
}


.enquiry-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 3px;
  min-width: 800px;
  table-layout: fixed;
}

.enquiry-table th {
  position: sticky;
      top: 0;
      background-color: #5eaeff;
      color: rgb(0, 0, 0);
      padding: 7px;
      text-align: center;
      font-size: 10px;
      z-index: 0;
}

.enquiry-table td {
  border: 1px solid #eeecec;
  height: 8px !important;
  padding: 7px;
  text-align: center;
  font-size: 11px;

}

.enquiry-table th {
  background-color: #003366;
  color: white;
}

.no-data {
  text-align: center;
  padding: 40px 20px;
  color: #555;
}

.no-data-img {
  width: 60px;
  height: 60px;
  margin: 0 auto 10px;
  background: url('https://cdn-icons-png.flaticon.com/512/7486/7486044.png') no-repeat center/contain;
}


.addmission-groups {
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  gap: 5px;                /* spacing between buttons */
  flex-wrap: nowrap; 
      margin-top: 6px;       /* force same line */
}

.search-btns {
    padding: 1px 16px;
    background-color: #757575;
    color: white;
    border: none;
    border-radius: 9px;
    cursor: pointer;
}


.search-btns:hover {
  opacity: 0.9;
}

.close-btn-addmision{
 padding: 1px 16px;
    background-color: #757575;
    color: white;
    border: none;
    border-radius: 9px;
    cursor: pointer;
}


.enquiry-table td:nth-child(2),
.enquiry-table th:nth-child(2) {
  width: 200px;
}


.enquiry-table td:nth-child(1),
.enquiry-table th:nth-child(1) {
  width: 50px;
}




.enquiry-table td{
  padding: 3px 7px; /* reduce vertical space */
}




