
.admission-enquiry-container {
  max-width: 100%;
  margin: 7px;
  padding: 7px;
  background: #fff;
  box-shadow: 0 0 5px #ccc;
  border-radius: 6px;
 
}


.form-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin: 12px;
}

/* .addmisson-group-create {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  margin-bottom: 4px;
}

.required {
  color: red;
}

input,
select {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}   */

.form-actions {
 text-align: center;
    margin: 20px 0px 20px 0px;
} 

#savecreateadmission{
  width: 116px;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}


.error-message {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}

.disabled-button {
  opacity: 0.6;
  cursor: not-allowed;
}













.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  height: 92%;
  margin: 12px;
  background-color: #ffffff;
  border-radius: 12px;
  /* border-style: double; */
}

table td:first-child,
table th:first-child {
  width: 200px; 
}

table td {
  padding: 3px 7px !important; 
  line-height: 1 !important;
}



.addmisson-group-create {
  margin-bottom: 10px;
}

.addmisson-group-create label {
  display: block;
  margin-bottom: 1px;
  color: #333;
  font-size: small;
}

.addmisson-group-create-textarea{
   width: 93%;
  height: 50px;
  padding: 0px 12px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: white;
}

.required {
  color: red;
  margin-left: 4px;
}


.addmisson-group-create-input,
.dropdown-admission-create{
  width: 93%;
  height: 25px;
  padding: 0px 12px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: white;
}

.addmisson-group-create-date .react-datepicker-wrapper {
  width: 93%;
}

.addmisson-group-create-date .react-datepicker__input-container input {
  width: 100%;
  height: 25px;
  padding: 0px 12px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: white;
}


/* Dropdown arrow styling */
.dropdown {
  appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20fill='black'%20height='24'%20viewBox='0%200%2024%2024'%20width='24'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20d='M7%2010l5%205%205-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 16px 16px;
  cursor: pointer;
}

.header {
  color: #495057;
  font-size: 12px;
  margin-left: 12px;
}

.comments {
  width: 93%;
  height: 100px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: white;
}

.comments-group label {
  margin-bottom: 1px;
  color: #333;
  font-size: small;
}

.submit {
  padding: 2px 17px;
  font-size: 16px;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.submit:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  opacity: 0.7;
}

.submit:not(:disabled):hover {
  background-color: #1565c0;
  transform: scale(1.03);
}

.error {
  font-size: 12px;
  color: red;
  margin: 0px;
}

.headline {
  font-weight: bold;
}

.headlines {
  font-weight: bold;
  color: white;
}
