
.call-group-create {
  margin-bottom: 10px;
}

.call-group-create label {
  display: block;
  margin-bottom: 1px;
  color: #333;
  font-size: small;
}

.call-group-create-textarea{
   width: 93%;
  height: 35px;
  padding: 0px 12px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: white;
}

.required {
  color: red;
  margin-left: 4px;
}


.call-group-create-input,
.dropdown{
  width: 93%;
  height: 25px;
  padding: 0px 12px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: white;
}

.call-group-create-date .react-datepicker-wrapper {
  width: 93%;
}

.call-group-create-date .react-datepicker__input-container input {
  width: 100%;
  height: 25px;
  padding: 0px 12px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: white;
}


/* Dropdown arrow styling */
.dropdown {
  appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20fill='black'%20height='24'%20viewBox='0%200%2024%2024'%20width='24'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20d='M7%2010l5%205%205-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 16px 16px;
  cursor: pointer;
}




.phonetable td:nth-child(2),
.phonetable th:nth-child(2) {
  width: 200px;
}

.phonetable td:nth-child(1),
.phonetable th:nth-child(1) {
  width: 50px;
}

.enquiry-table td {
  padding: 3px 7px !important;
  line-height: 1 !important;
}

.phonetable {
  border-collapse: collapse;
}

.phonetable th,
.phonetable td {
  border: 1px solid #ccc;   /* Grid lines */
  padding: 6px 10px;
}

.phonetable tbody tr:hover {
  background: #f9f9f9;      /* Optional hover */
}


.phonetable td{
  padding: 3px 7px; /* reduce vertical space */
}
